.book-item {
  list-style-type: none;
  margin-left: 70px;
}
@media screen and (max-width: 767px) {
  .book-item {
    margin-left: 40px;
    margin-top: 15px;
  }
}

.book-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #334155;
}

.author-name {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #475569;
}

.slick-prev:before,
.slick-next:before {
  color: #475569 !important;
}

.book-img {
  height: 350px;
}
